---
import { SITE_TITLE } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<h1>Hello, {SITE_TITLE}!</h1>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
		voluptate? Sit ut ipsum esse vitae modi cupiditate. Similique minus
		itaque totam maxime, rerum aperiam? Vero maiores officia dolores sunt
		atque?
	</p>
</DefaultLayout>
