:root {
	--body-surface: var(--color-white);
	--body-on-surface: var(--color-black);
	--heading-on-surface: var(--color-black);
	--link-on-surface: var(--color-blue-300);
	--link-hover-on-surface: var(--color-black);
}
